div {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* overflow-y: scroll; */
}

div::-webkit-scrollbar {
    display: none;
}

@supports(display: grid) {
    .main {
        color: lighten(gray, 25%);
        background-color: lighten(skyblue, 60%);
        grid-area: main;
    }
    .items {
        position: relative;
        /* border-style:solid; */
        /* width: auto; */
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        cursor: grab;
        padding-left: unset;
    }
    .items.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }
    .item {
        display: inline-block;
        padding-left: unset;
    }
    @media (max-width:320px) and (min-width:100px) {
        .items {
            width: 95%;
        }
    }
    @media only screen and (max-width: 2000px) and (min-width: 1600px) {
        .items {
            margin-left: -6px;
            width: 101%;
        }
    }
    @media only screen and (max-width: 3000px) and (min-width: 2001px) {
        .items {
            margin-left: -10px;
            width: 101.2%;
        }
    }
    @media (min-width:3002px) {
        .items {
            margin-left: -23px;
            width: 101.5%;
        }
    }
    @media (min-width:4002px) {
        .items {
            margin-left: -35px;
            width: 101.7%;
        }
    }
    .customcard1 {
        height: 130px;
        box-shadow: 2px 3px 4px #7d7a7a;
        background: linear-gradient(to right, #047edf, #90caf9) !important;
    }
    .customcard2 {
        height: 130px;
        box-shadow: 2px 3px 4px #7d7a7a;
        background: linear-gradient(to right, #fe7096, #ffbf96) !important;
    }
    .customcard3 {
        height: 130px;
        box-shadow: 2px 3px 4px #7d7a7a;
        background: linear-gradient(to right, #9a55ff, #da8cff) !important;
    }
    .customcard4 {
        height: 130px;
        box-shadow: 2px 3px 4px #7d7a7a;
        background: linear-gradient(to right, #ACB6E5, #74ebd5) !important;
    }

}

.lessbalance {
    font-size: 10px;
    vertical-align: middle;
    padding: 10px;
}

@media (max-width: 1237px) {
    .float-right {
        float: left !important;
    }
    .lessbalance {
        padding: 5px;
        margin-top: 5px;
    }
}

.custompartnercard1 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(to right, #a77ffc 0%, #ff6eac 100%);
}

.custompartnercard2 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(to right, #7559ce 0%, #678fe9 100%);
}

.custompartnercard3 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(to right, #11d7e4 0%, #48eaa1 100%);
}

.custompartnercard4 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(to right, #fe8c81 0%, #fbd323 100%);
}

.card {
    border: none !important;
}

.partnercard1 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}

.partnercard2 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}

.partnercard3 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.partnercard4 {
    height: 130px;
    box-shadow: 2px 3px 4px #7d7a7a;
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}
.icon{
width:100%;
margin:0 0 11px 0;
}
.total_amount{
width:100%;
font-size: 18px;
/* margin-top:15px; */
}

.view_detail{
font-size:12px;
float:right;
/* float:right;
margin-top:16px; */
}
.title{
font-size: 18px;
}

@media (max-width:1170px) and (min-width:768px) {
.icon{
margin-bottom: 6px !important;
}
p{
margin-bottom: 0 !important;
}
}